.container {
    width: auto;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    background-color: gray;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    margin: 0 40px;
    padding: 30px;
}
.card h1 {
    text-align: center;
    font-size: 20px;
}
.card p {
    margin-top: 20% ;
    text-align: center;
}