
@font-face {
    font-family: 'Roboto';
    src: url('./src/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    color: #000;
    
}
html, body, #root {
    height: 100%;
    background-color: #fff;
}
a {
    text-decoration:  none;
    outline: none;
}
