*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
    color: #000;
    
}
html, body, #root {
    height: 100%;
    background-color: #fff;
}
a {
    text-decoration:  none;
    outline: none;
}

  