.Nav{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #a1e6ff;
    border-bottom: 4px solid black;
}
.NavScrolled{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #a1e6ff;
    border-bottom: 4px solid black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logoPage{
    margin: auto 15px;
    height: 80  px;
    width: 80px;
    background-position: center center;
    border-radius: 20px;
}
.Titulo{
    margin: auto 15px;
    color: #000;
}


.container_components {
    margin: 0 0 auto;
    margin-left: auto;
}

.components {
    display: inline-block;
}
.link {
    display: block;
    background-color: #a1e6ff;
    color: white;
    text-decoration: none;
    padding: 32px 15px;
    transition: all 0.25s ease-out;
}
.link:hover {
    background-color: #000;
}