.Nav{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(65, 65, 65);
    border-bottom: 4px solid black;
   
    
}
.logoPage{
    margin: auto 15px;
    height: 80  px;
    width: 80px;
    background-position: center center;
    border-radius: 20px;
}
.Titulo{
    margin: auto 15px;
    color: white;
}


.container_components {
    margin: 0 0 auto;
    margin-left: auto;
}

.components {
    display: inline-block;
}
.link {
    display: block;
    background-color: rgb(65, 65, 65);
    color: white;
    text-decoration: none;
    padding: 32px 15px;
    transition: all 0.25s ease-out;
}
.link:hover {
    background-color: rgba(0,0,0,0.3);
}