.container {
    display: flex;
    height: 300px;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

.container div {
    margin: 0 12%;
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50px;
}