*{
    font-family: 'Roboto', sans-serif;
}

.container{   
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1087px;
    
}
.component {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 1320px;
    height: 921px;

}
.component div:nth-child(1) img{
    width: 660px;
    height: 437px;
    margin-top: 93px;
    
}


.component div:nth-child(2){
    margin-top: 120px;
    margin-left: 30px;
    margin-bottom: -50px;
    
}
.component div:nth-child(2) div{
    width: 6px;
    height: 47px;
    float: left;
    margin-top: 15px;
    margin-left: 48px;
    background-color: #68E6E3;
}


.component div:nth-child(2) h1{
    color: #292929;
    font-size: 64px;
    margin-left: 53px;   
}
.component div:nth-child(2) p{
    margin: 50px 0 0 50px;
    font-size: 20px;
    color: #7D7D7D;
}

.component div:nth-child(3) h3{
    margin-top: 100px;
    font-size: 35px;
    color: #292929;
}

.component div:nth-child(3) p{
    font-size: 20px;
    color: #7D7D7D;
    margin-top: 20px;
    margin-right: 50px;
}


.component div:nth-child(4) img{
    width: 660px;
    height: 437px;
}