.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: white;
}

.form {
    height: 200px;
    background-color: rgb(110, 110, 110);
    width: 500px;
    text-align: center;
    border-radius: 20px;
}
.form h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50px;
    background-color: rgb(83, 83, 83);
    border-radius: 20px 20px 0 0 ;
}
.form input {
    margin-top: 2%;
    height: 15%;
    width: 80%;
    border-radius: 50px;
}

::placeholder {
    padding-left: 15px;
}

.form button {
    margin-top: 2%;
    background-color:rgb(83, 83, 83);
    height: 40px;
    width: 60%;
    border: none;
    border-radius: 50px;
}